.card {
    display: flex;
    margin: 2rem 0 2rem 0;

    & img {
        width: 200px;
        border-radius: 0.25rem;
        margin-right: 5rem;
    }

    & div {
        & h2 {
            margin-bottom: 0;
        }

        & p {
            margin-top: 0;
        }

        & h4 {
            font-size: 3rem;
        }
    }
}