    .header {
        display: flex;
        justify-content: space-between;
        padding: 0rem 0rem;
        align-items: center;

        & h2 a {
            color: var(--main-header-color);
            text-decoration: none;
            font-size: 1.5rem;
        }

        & h2 a:hover {
            color: var(--main-header-color-hover)
        }



        & div {
            display: flex;

            & a {
                color: var(--main-header-color);
                text-decoration: none;
                text-transform: uppercase;
                padding: 1rem;
            }

            & a:last-child {
                padding-right: 0;
            }

            & a:hover {
                color: var(--main-header-color-hover);
                text-decoration: underline;

            }
        }
    }