@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{
  color-scheme: dark light;
  font-family: "Titillium Web", sans-serif;

  --main-header-color: rgb(255, 255, 255);
  --main-header-color-hover: rgb(202, 202, 202);
}